# Dependencies
node_modules/
/coverage

# next.js
.next/
/out/

# vercel
.vercel

# misc
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# panda
styled-system/
styled-system-static/

# graphclient
.graphclient/

# custom banner
Banner.tsx

# Build outputs
dist/
build/

# uikit-gallery (optional, remove if you want to track it)
uikit-gallery/
